<main class="page__main">

  <form action="#" class="form js_form">
    <input class="js_searchInput input" type="text" name="search" id="search" placeholder="Busca tu anime favorito"/>
    <input class="button js_searchButton" type="button" value="Buscar"  />
    <button class="js_log">LOG</button>
  </form>

  <div class="container">
    <section class="section_fav">
      <h2 class="lists__title--fav">Series favoritas</h2>
      <ul class="ul_fav js_favSeries"></ul>
      <input class="button reset js_resetButton" type="button" value="Borrar favoritos"  />
    </section>

    <section class="section_main">
      <h2 class="lists__title--main">Resultados</h2>
    <ul class="ul_main js_resultSeries"></ul>
    </section>

    
  </div>

</main>
