<main class="page__main">

  <form action="#" class="js_form">
    <input class="js_searchInput" type="text" name="search" id="search" placeholder="Naruto"/>
    <input type="button" value="Buscar" class="js_searchButton" />
    <input type="button" value="Reset" class="js_resetButton" />
  </form>

  <div class="container">
    <section class="">
      <h2 class="">Resultados</h2>
    <ul class="js_main-list"></ul>
    </section>

    <!-- <section class="">
      <h2 class="">Series favoritas</h2>
      <ul class=""></ul>
    </section> -->
  </div>

</main>
