<main class="page__main">

  <form action="#" class="form js_form">
    <input class="js_searchInput input" type="text" name="search" id="search" placeholder="Naruto"/>
    <input class="button js_searchButton" type="button" value="Buscar"  />
    <input class="button js_searchButton" type="button" value="Reset"  />
  </form>

  <div class="container">
    <section class="section_fav">
      <h2 class="lists__title--fav">Series favoritas</h2>
      <ul class="js_favSeries"></ul>
    </section>

    <section class="section_main">
      <h2 class="lists__title--main">Resultados</h2>
    <ul class="main_list js_resultSeries"></ul>
    </section>

    
  </div>

</main>
