// fonts
$font-main: "Cute Font", cursive;

// colors
$whiteColor: #fff;
$blackColor: #000;
$coralColor: #ff7f50;
$deepPinkColor: #ffe4c4;
$lightGray: #b0c4de;
$blueBebeColor: #87ceeb; // SkyBlue
$pinkBebeColor: #ffb6c1;
$bloodColor: #191970; //MidnightBlue
