// fonts
$font-main: "Cute Font", cursive;

// colors
$whiteColor: #fff;
$blackColor: #000;
$coralColor: #ff7f50;
$deepPinkColor: #ff1493;
$orchidColor: #9932cc;
$blueBebeColor: #add8e6;
$pinkBebeColor: #ffb6c1;
