.page__header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
  font-family: $font-main;
  color: $beigeColor;
  font-size: 40px;
}

.header__img {
  width: 100px;
  height: 100px;
}
