body {
  padding: 30px;
  background-color: $blackColor;
  font-family: $font-main;
}

ul {
  list-style: none;
}

.page__main {
  width: 100%;
  height: auto;
  font-family: $font-main;
  background-color: $blackColor;
}

.form {
  width: 100%;
  height: auto;
  margin: 30px;
}

.input {
  font-family: $font-main;
  font-size: 20px;
  width: 200px;
  padding-left: 5px;
  border-color: $whiteColor;
  background-color: $lightGray;
  color: $whiteColor;
  border-radius: 20px;
  margin-right: 20px;
  &:hover {
    opacity: 0.75;
  }
}

::placeholder {
  color: $blackColor;
  opacity: 0.55;
}

.button {
  font-family: $font-main;
  font-size: 20px;
  width: 80px;
  background-color: $lightGray;
  color: $blackColor;
  border-color: $whiteColor;
  border-radius: 40px;
  margin-right: 10px;
  &:hover {
    opacity: 0.75;
  }
}

.container {
  display: flex;
  flex-direction: row;
}

.section_fav {
  width: 30%;
  height: auto;
  margin: 20px 0 30px 30px;
  border: 2px solid $pinkBebeColor;
  border-radius: 10px;
  color: $pinkBebeColor;
  padding: 20px;
  text-align: center;
}

.section_main {
  width: 70%;
  height: auto;
  margin: 20px 30px 30px 30px;
  border: 2px solid $blueBebeColor;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: $blueBebeColor;
}

.lists__title {
  &--fav {
    background-color: $pinkBebeColor;
    color: $blackColor;
    font-size: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  &--main {
    border-radius: 10px;
    font-size: 30px;
    margin-bottom: 20px;
    background-color: $blueBebeColor;
    color: $blackColor;
  }
}

.ul_main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  margin: 50px;
  width: 180px;
}

// .title {
// }

.border_item {
  // border: $blueBebeColor solid 5px;
  background-color: $pinkBebeColor;
  color: $blackColor;
}

.img_main {
  padding: 20px;
  width: 200px;
}

.img_fav {
  width: 70%;
}
